.wrap {
    display: flex;
    position: relative;
    height: 30px;
    width: 100vw;
    margin: auto;
    justify-content: center;
    padding: 5px;
}
.iconWrap {
    position: relative;
    left: 50px;
    height: 100%;
    width: 40px;
    font: 30px;
    display: flex;
    justify-content:left;
    align-items: center;
    
}
.input {
    width: 500px;
    padding-left: 40px;
}